.inputMovie {
    padding: 8px;
    border: 2px solid darkgrey;
    border-radius: 4px;
}

.inputMovie:hover, .inputMovie:active, .inputMovie:focus {
    border: 2px solid orangered;
}

.findWrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
    background-color: lightgrey;
    padding: 12px;
}

.findBtn {
    padding: 6px 12px;
    border-radius: 4px;
    color: black;
    font-family: inherit;
    font-weight: 500;
    font-size: medium;
    background-color: orangered;
    color: white;
    border: none;
    transition: transform cubic-bezier(0.2); 
}

.findBtn:hover, .findBtn:focus, .findBtn:active {
    color: black;
}